
:root
{
    --black-color:#000;
    --gray-color: #757575;
    --skill-color:#009688;
    --white-color:#fff;
}

*
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html
{
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid
{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width
{
    width: 100%;
}

.grid__row
{
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -12px;
    margin-right: -12px; */
}

.grid__column-4
{
    /* padding-left: 8px;
    padding-right: 8px; */
    width: 33.3334%;
    
}

.grid__column-8
{
    /* padding-left: 8px;
    padding-right: 8px; */
    width: 66.6667%;
    
}